target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local PostgreSQL files ###
postgres-data/
postgres-data/**/
postgres-data/**/*.*
postgres-data/**/*
development/postgres-data/
development/postgres-data/**/
development/postgres-data/**/*.*
development/postgres-data/**/*

### Application config with secrets ###
application-secrets.yml
application-secrets.yaml
/src/main/resources/application-secrets.yml
/src/main/resources/application-secrets.yaml
